<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
<style type="text/css">
  .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .navbar-brand {
    font-weight: bold;
  }
</style>
<nav class="navbar fixed-top navbar-expand-sm bg-light navbar-light mb-5">
  <div class="container-fluid">
  <a class="navber-brand" href="/">
    <img src="/images/_logo.png" width="55" height="38" alt="">
  </a>
  &nbsp;&nbsp;
  <a class="navbar-brand" href="/">ENTER SITE NAME</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="/about">ABOUT us</a>
      </li>
      </ul>
  </div>
  </div>
</nav>
</body>
</html>
