<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light mb-5">
      <a class="navbar-brand" href="/">
        <img src="/images/_logo.png" width="55" height="38" alt="">
      </a>
      <a class="navbar-brand" href="/">ENTER SITE NAME</a>

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link disabled" href="/about" tabindex="-1" aria-disabled="true">ABOUT us</a>
        </li>
      </ul>
</nav>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="bottom">imkeysoon@gmail.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;대성디폴리스 A동 27층&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;02-1234-5678&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright2022.bob11thPQCY All rights reserved.</a>
  <img src="/images/bob_logo.png" width="30" height="35" alt="">
</nav>
</body>
</html>
