<!DOCTYPE html>
<html>
  <head>
    <%-include('../partials/head.ejs') %>
  </head>
  <body>
    <%-include('../partials/nav.ejs') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>

      <p>Best of the Best 11th - 양자키순</p>

    </div>
  </body>
</html>
