<!DOCTYPE html>
<html>
  <head>
    <%-include('../partials/head.ejs') %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
      /*
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
      body {
        font-family: 'Noto Sans KR', sans-serif;
      }
      */
      #wrapper {
        font-family: 'Jua', sans-serif;
        height: auto;
        min-height: 100%;
        padding-bottom: 700px;
      }
    </style>
  </head>
  <body>
    <%-include('../partials/nav.ejs') %>

  <div id="wrapper">

    <div class="container mb-3">
      <br/><br/><br/><br/>
      <h3>About Us</h3>
      <p>
        Best of the Best(BOB) 11기 <span>양자키순(PQCY)</span> 팀입니다.
      </p>
    </div>

  </div>

  <%-include('../partials/footer.ejs')%>
  </body>
</html>
