<!DOCTYPE html>
<html>
  <head>
    <%-include('../partials/head.ejs')%>
  </head>
  <body>
    <%-include('../partials/nav.ejs')%>
    <br/><br/><br/><br/>
    &nbsp; 공개키 탑재 가이드 페이지
    <%-include('../partials/footer.ejs')%>
  </body>

</html>