<!DOCTYPE html>

<%# details 과 summary 그리고 css까지 적용%>
<style>
details { margin:5px 0 10px; }
details > summary { background:#444; color:#fff; padding:10px; outline:0; border-radius:5px; cursor:pointer; transition:background 0.5s; text-align:left; box-shadow: 1px 1px 2px gray;}
details > summary::-webkit-details-marker { background:#444; color:#fff; background-size:10px; transform:rotate3d(0, 0, 1, 90deg); transition:transform 0.25s;}
details[open] > summary::-webkit-details-marker { transform:rotate3d(0, 0, 1, 180deg);}
details[open] > summary { background:#444;}
details[open] > summary ~ * { animation:reveal 0.5s;}
.tpt { background:#444; color:#fff; margin:5px 0 10px; padding:5px 10px; line-height:25px; border-radius:5px; box-shadow: 1px 1px 2px gray;}

@keyframes reveal {
    from { opacity:0; transform:translate3d(0, -30px, 0); }
    to { opacity:1; transform:translate3d(0, 0, 0); }
}
</style>

<html>
  <head>
    <style type="text/css">
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
              /*border-top: #FFFFFF;
              border-right: #FFFFFF;
              border-left: #FFFFFF;*/
              border-bottom: 3px solid #3333CC;
              color: #3333CC;
        }
        .nav-tabs .nav-link {
          color: #333333;
          font-weight: bold;
        }
        html, body {
          margin: 0;
          padding: 0;
          height: 100%;
        }
        footer {
          width: 100%;
          height: 56px;
          position: absolute; 
          bottom: 0;
          left: 0;
        }
      </style>
    <%-include('../partials/head.ejs')%>
    <%# Using highlight.js %>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<%# Sage style %>
<link rel="stylesheet" type="text/css" href="https://sagecell.sagemath.org/static/sagecell_embed.css">

  </head>
  <body>
    <%-include('../partials/nav.ejs')%>
    <img src="/images/L2R.PNG" width="700" height="350">
    <details>
        <summary>python code</summary>
    
    <pre><code class="language-python">
def L2R(a,n):
    A = a
    bitlen = n.bit_length() #len(bin(n))-2
    
    for i in range(bitlen - 2, -1 ,-1):
        A = A*A
        if (n >> i) & 1:
            A = A*a
            
    return A
    </code></pre>

    </details>
    <img src="/images/R2L.PNG" width="700" height="350">
    <details>
        <summary>python code</summary>
    <pre><code class="language-python">
def R2L(a,n):
    A = 1
    B = a
    bitlen = n.bit_length() #len(bin(n))-2

    for i in range(0, bitlen):
        if (n >> i) & 1:
            A = A*B
        B = B*B
        
    return A
    </code></pre>
    </details>
    <img src="/images/MnS.PNG" width="700" height="350">
    <details>
        <summary>python code</summary>
    <pre><code class="language-python">
def MnS(a,n):
    A = 1
    B = a
    bitlen = n.bit_length() #len(bin(n))-2

    for i in range(bitlen - 1, -1 ,-1):
        if (n >> i) & 1:
            A = A*B
            B = B*B
        else:
            B = A*B
            A = A*A
    return A
    </code></pre>
    </details>
    <%# It allows embedding Sage computations into any webpage / Sage Cell 삽입%>
    <h1><img src="/static/sagemathcell-logo.png?v=6e2af643d466a112eaeab1d2e21285b1707a5b3b8991f190583c5603ef4914df0611e9132b1180a8ff88523392cce6d19886336b8aad1706d3b357c8d5ac3800" alt="SageMathCell"></h1>
    Type some Sage, Python code below and press Evaluate.
    <script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
    <script>sagecell.makeSagecell({"inputLocation": ".sage"});</script>
    
    <div class="sage">
        <script type="text/x-sage"></script>
      </div>
      <!-- Footer --> 
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      Copyright2022.BestOftheBest11thPQCY All rights reserved.
    </div>
  </footer>
  
  
  </body>
  </html>