<!DOCTYPE html>
<html>
  <head>
    <%-include('../partials/head.ejs')%>
  </head>
  <body>
    <%-include('../partials/nav.ejs')%>
    <br/><br/><br/><br/>
    &nbsp; 업데이트 예정입니다.
    <%-include('../partials/footer.ejs')%>
  </body>

</html>