<!DOCTYPE html>
<html>
  <head>
    <%-include('../partials/head.ejs')%>
  </head>
  <body>
    <%-include('../partials/nav.ejs')%>
    <style type="text/css">
      .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            /*border-top: #FFFFFF;
            border-right: #FFFFFF;
            border-left: #FFFFFF;*/
            border-bottom: 3px solid #3333CC;
            color: #3333CC;
      }
      .nav-tabs .nav-link {
        color: #333333;
        font-weight: bold;
      }
      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
      }
     
    </style>
    <br/><br/><br/><br/>
    
    <nav>
      <ul class="nav justify-content-center nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="navber-brand" href="/eduBasic">
            <img src="/images/banner/banner-main.png" width="60" height="60">
          </a>
          <a class="nav-link active" data-toggle="tab" onclick="location.href='/eduBasic'">메인</a>
        </li>

        <li class="nav-item dropdown" role="presentation">
          <a class="navber-brand" href="/goPqc">
            <img src="/images/banner/banner-pqc.png" width="60" height="60">
          </a>
          <a class="nav-link" data-toggle="tab" aria-current="page" onclick="location.href='/goPqc'">PQC란?</a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="navber-brand" href="#">
            <img src="/images/banner/banner-algo.png" width="60" height="60">
          </a>
          <a class="nav-link" data-toggle="tab" onclick="location.href='nist'">NIST 선정 PQC 알고리즘</a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="navber-brand" href="#">
            <img src="/images/banner/banner-test.png" width="60" height="60">
          </a>
          <a class="nav-link" data-toggle="tab" href="#">기존 공개키 알고리즘 테스트</a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="navber-brand" href="#">
            <img src="/images/banner/banner-hide.png" width="60" height="60">
          </a>
          <a class="nav-link" data-toggle="tab" href="#">선생님 몰래 너만 와</a>
        </li>

        <li class="nav-item" role="presentation">
          <img src="/images/banner/banner-update.png" width="60" height="60">
          <a class="nav-link disabled" data-toggle="tab" href="" tabindex="-1" aria-disabled="true">업데이트 예정</a>
        </li>
      </ul>
    </nav>

    <br/>
    <div class="container">
      <p class="text-center">학생들을 위한 초급 교육 페이지입니다.</p>
      <!-- <button class="nav-link" onclick="quiz();">QUIZ</button> -->
      <div class="card justify-content-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">EVENT</h5>
          <h6 class="card-subtitle mb-2 text-muted">퀴즈를 풀면 스타벅스 기프티콘이?</h6>
          <img src="/images/starbucks.jpg" width="80" height="80"><br/>
          <!-- <p class="card-text">Content</p> -->
          <!-- Quiz link add -->
          <a href="/quiz" class="card-link">Quiz 바로가기</a>
          <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
    </div>
    
    <%-include('../partials/footer.ejs')%>

  </body>

</html>