<!DOCTYPE html>
<html>
  <head>
    <%-include('../partials/head.ejs')%>
  </head>
  <body>
    <%-include('../partials/nav.ejs')%>
    <style type="text/css">
      .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            border-top: #FFFFFF;
            border-right: #FFFFFF;
            border-left: #FFFFFF;
            border-bottom: 3px solid #3333CC;
            color: #3333CC;
      }
      .nav-tabs .nav-link {
        color: #333333;
        font-weight: bold;
      }
    </style>
    <br/><br/><br/><br/>
    
    <nav>
      <ul class="nav justify-content-center nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="navber-brand" href="#">
            <img src="/images/banner/banner-main.png" width="60" height="60">
          </a>
          <a class="nav-link active" data-toggle="tab" aria-current="page" href="#">메인</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="navber-brand" href="#">
            <img src="/images/banner/banner-pqc.png" width="60" height="60">
          </a>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">PQC란?</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">양자컴퓨터란?</a></li>
            <li><a class="dropdown-item" href="#">양자통신이란?</a></li>
            <li><a class="dropdown-item" href="#">양자내성암호란?</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
          </ul>
        </li>
        <li class="nav-item" role="presentation">
          <a class="navber-brand" href="#">
            <img src="/images/banner/banner-algo.png" width="60" height="60">
          </a>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">NIST 선정 PQC 알고리즘</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">격자 기반</a></li>
            <li><a class="dropdown-item" href="#">해시 기반</a></li>
            <li><a class="dropdown-item" href="#">코드 기반</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
          </ul>
        </li>
        <li class="nav-item" role="presentation">
          <a class="navber-brand" href="#">
            <img src="/images/banner/banner-test.png" width="60" height="60">
          </a>
          <a class="nav-link" data-toggle="tab" href="#">기존 공개키 알고리즘 테스트</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="navber-brand" href="#">
            <img src="/images/banner/banner-hide.png" width="60" height="60">
          </a>
          <a class="nav-link" data-toggle="tab" href="#">선생님 몰래 너만 와</a>
        </li>
        <li class="nav-item" role="presentation">
          <img src="/images/banner/banner-update.png" width="60" height="60">
          <a class="nav-link disabled" data-toggle="tab" href="#" tabindex="-1" aria-disabled="true">업데이트 예정</a>
        </li>
      </ul>
    </nav>

    <br/>
    &nbsp; 교육 페이지(초급) 입니다.<br/>
    <a class="nav-link" href="/quiz">QUIZ</a>


  </body>
</html>