<!DOCTYPE html>
<html>

<head>
  <%-include('../partials/head.ejs')%>
</head>

<body>
  <%-include('../partials/nav.ejs')%>
    <style type="text/css">
      .nav-tabs .nav-item.show .nav-link,
      .nav-tabs .nav-link.active {
        border-bottom: 3px solid #3333CC;
        color: #3333CC;
      }

      .nav-tabs .nav-link {
        color: #333333;
        font-weight: bold;
      }

      .list-group-item {
        color: black;
        /*background-color: #FFCCCC;*/
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .list-group {
        width: 90%;
        display: flex;
      }

      section {
        width: 20%;
        background-color: #ffffff;
        margin: 5px;
        box-sizing: border-box;
        display: flex;
      }

      aside {
        width: 65%;
        height: 500px;
        float: right;
        /*padding: 50px;
        margin: 10px;*/
        border-radius: 30px;
      }

      .carousel-inner>.carousel-item>img {
        width: 80%;
        height: 500px;
      }

      main {
        display: flex;
      }

      .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%29000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
      }

      .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%29000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
      }

      .carousel .carousel-indicators li {
        background-color: black;
      }

      .carousel .carousel-indicators li.active {
        background-color: black;
      }

      div.row {
        width: 100%;
        height: 500px;
      }

      div.col>p {
        font-size: 20px;
        font-weight: bold;
      }

      img.d-block {
        height: 500px;
      }
    </style>
    <br /><br /><br /><br />

    <nav>
      <ul class="nav justify-content-center nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="navber-brand" href="/eduBasic">
            <img src="/images/banner/banner-main.png" width="60" height="60">
          </a>
          <a class="nav-link" data-toggle="tab" onclick="location.href='/eduBasic'">메인</a>
        </li>

        <li class="nav-item dropdown" role="presentation">
          <a class="navber-brand" href="/goPqc">
            <img src="/images/banner/banner-pqc.png" width="60" height="60">
          </a>
          <a class="nav-link active" data-toggle="tab" aria-current="page" onclick="location.href='/goPqc'">PQC란?</a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="navber-brand" href="#">
            <img src="/images/banner/banner-algo.png" width="60" height="60">
          </a>
          <a class="nav-link" data-toggle="tab" onclick="location.href='/nist'">NIST 선정 PQC 알고리즘</a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="navber-brand" href="#">
            <img src="/images/banner/banner-test.png" width="60" height="60">
          </a>
          <a class="nav-link" data-toggle="tab" nclick="location.href='/nist'">기존 공개키 알고리즘 테스트</a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="navber-brand" href="#">
            <img src="/images/banner/banner-hide.png" width="60" height="60">
          </a>
          <a class="nav-link" data-toggle="tab" href="#">선생님 몰래 너만 와</a>
        </li>

        <li class="nav-item" role="presentation">
          <img src="/images/banner/banner-update.png" width="60" height="60">
          <a class="nav-link disabled" data-toggle="tab" href="" tabindex="-1" aria-disabled="true">업데이트 예정</a>
        </li>
      </ul>
    </nav>

    <br />
    <main>
      <section>
        <div class="list-group" id="list-tab" role="tablist">
          <!-- href="#" -->
          <a class="list-group-item list-group-item-action active bg-light text-dark" id="list-home-list"
            data-toggle="list" href="#list-home" role="tab" aria-controls="home">양자 컴퓨터란?</a>
          <a class="list-group-item list-group-item-action bg-light text-dark" id="list-profile-list" data-toggle="list"
            href="#list-profile" role="tab" aria-controls="profile">양자 암호란?</a>
          <a class="list-group-item list-group-item-action bg-light text-dark" id="list-messages-list"
            data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">양자내성암호란?</a>
          <!-- <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a> -->
        </div>
      </section>

      <aside>
        <div class="tab-content" id="nav-tabContent">

          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <div id="demo" class="carousel slide carousel-fade" data-ride="carousel">
              <div class="carousel-inner container">
                <!-- 슬라이드 쇼 -->
                <!-- 양자컴퓨터란? -->
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col">
                      <p>
                        양자 컴퓨터란 지금까지의 컴퓨터와는 다른 새로운 계산기라고 표현할 수 있습니다.
                        현재 우리가 사용하는 컴퓨터의 계산 속도는 인간이 따라잡기 힘들 정도까지 진화하였지만 여전히 한계가 존재합니다.
                        예를 들어 복잡한 3차원 물체의 시뮬레이션이나, 양자역학적 행동을 하는 물질의 시뮬레이션 등은
                        최첨단 컴퓨터를 사용하더라도 계산하기 어렵습니다.
                        이 외에도 큰 정수의 인수 분해나 머신 러닝 분야에서 사용하기에는 계산에 많은 시간이 걸리는 문제도 있습니다.
                        이런 한계를 극복하기 위한 방안 중 하나가 바로 양자컴퓨터입니다.
                      </p>
                    </div>
                    <div class="col">
                      <img class="d-block w-100" src="/images/pqc/1slide1.png" alt="First slide">
                    </div>
                  </div>

                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col">
                      <p>
                        하지만 단점도 존재합니다. 현재 보안에서 많이 쓰이는 암호 중 하나인 RSA는 인수 분해가 어렵다는 문제에 기반하고 있습니다.
                        예를 들어 21은 3과 7로 쉽게 소인수분해가 가능합니다. 하지만 숫자가 커진다면 어떨까요?
                        110172281을 소인수분해 해보면 컴퓨터의 존재 없이 우리들만의 힘으로는 어려울 것입니다.
                        숫자가 커질 수록 컴퓨터도 계산이 어렵게 됩니다.
                        실제로 1994년 129자리 숫자(426bits)를 소안수분해하는 데에는 1,600여 대의 컴퓨터를 이용하여 8개월이 걸렸습니다.
                      </p>
                    </div>
                    <div class="col">
                      <img class="d-block w-100" src="/images/pqc/1slide2.png" alt="First slide">
                    </div>
                  </div>

                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col">
                      <p>
                        현재 RSA 암호 체계에 사용되는 숫자는 약 616자리(2048bits)로 역설적이게도 두 수를 곱하여
                        616자리(2048bits) 숫자를 생성하는 것은 현재 컴퓨터로도 1초도 안걸리지만, 이를 소인수 분해 하는데에는 엄청난 시간이 소모됩니다.
                        슈퍼 컴퓨터로도 RSA에 사용되는 616자리(2048bits)를 소인수 분해를 위해서는 몇 만년이 걸릴 것이라고 합니다.
                        구글 퀀텀 AI 연구 그룹은 개발한 시카모어(Sycamore) 양자 프로세서가 세계 최고의 슈퍼 컴퓨터로 10,000년이
                        걸리는 작업을 200초만에 수행했다고 주장하고 있습니다.
                      </p>
                    </div>
                    <div class="col">
                      <img class="d-block w-100" src="/images/pqc/1slide3.png" alt="First slide">
                    </div>
                  </div>

                </div>

                <!-- 왼쪽 오른쪽 화살표 버튼 -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>

                <!-- 인디케이터 -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- 양자암호란? -->
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            <div id="demo2" class="carousel slide carousel-fade" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">

                  <div class="row">
                    <div class="col">
                      <p>
                        양자암호, 혹은 양자암호화는 양자역학적 특성을 활용한 암호화 작업입니다.
                        양자암호화의 가장 잘 알려진 예제로 양자 키 분배를 들 수 있습니다. 이는 키교환 문제에 대한
                        정보이론상 안전한 해답입니다. 양자 암호은 고전역학적으로는 해결 불가능하다고 증명되거나 추측되는
                        다양한 암호화 작업을 해결할 수 있다는 장점을 가집니다. 예를 들어, 양자 상태로 인코딩된 데이터를
                        복사하는 것은 불가능한데, 이는 양자 키 분배에서 도청을 감지하는데 사용할 수 있는 특징입니다.
                      </p>
                    </div>
                    <div class="col">
                      <img class="d-block w-100" src="/images/pqc/2slide1.png" alt="First slide">
                    </div>
                  </div>
                </div>

                <!-- <div class="carousel-item">
                  <div class="row">
                    <div class="col">
                      <p>

                      </p>
                    </div>
                    <div class="col">
                      <img class="d-block w-100" src="/images/pqc/1slide1.png" alt="First slide">
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="row">
                    <div class="col">
                      <p>

                      </p>
                    </div>
                    <div class="col">
                      <img class="d-block w-100" src="/images/pqc/1slide1.png" alt="First slide">
                    </div>
                  </div>
                </div> -->

                <!-- 왼쪽 오른쪽 화살표 버튼 -->
                <a class="carousel-control-prev" href="#demo2" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#demo2" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>

                <!-- 인디케이터 -->
                <ul class="carousel-indicators">
                  <li data-target="#demo2" data-slide-to="0" class="active"></li>
                  <li data-target="#demo2" data-slide-to="1"></li>
                  <li data-target="#demo2" data-slide-to="2"></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- 양자내성암호란? -->
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
            <div id="demo3" class="carousel slide carousel-fade" data-ride="carousel">
              <div class="carousel-inner">

                <div class="carousel-item active">
                  <div class="row">
                    <div class="col">
                      <p>
                        양자 컴퓨팅 환경에 안전한 공개키 암호 알고리즘을
                        양자내성암호(Post-Quantum Cryptography, PQC)라고 합니다.
                        양자 컴퓨터를 이용한 쇼어 알고리즘에 의해 현재 주로 사용되는 공개키 알고리즘인 RSA, ECC의 소인수분해 문제와 이산대수 문제가 쉽게 해결됩니다.
                        하지만 이는 지금의 공개키 암호를 공격할 수 있는 큐비트를 가지는 양자 컴퓨터가 필요하기 때문에 양자 컴퓨터를 이용한 공격이 성공하기에는 오랜 시간이 걸리게 됩니다.
                        따라서 공개키 암호를 공격할 수 있는 양자 컴퓨터가 개발되기 전에 미리 양자 컴퓨팅 환경에 안전한 양자내성암호를 개발해야 하며, 기존 공개키 암호체계에서 양자내성암호를
                        이용한 암호체계로의 전환이 필요한 시점입니다.
                      </p>
                    </div>
                    <div class="col">
                      <img class="d-block w-100" src="/images/pqc/3slide1.png" alt="First slide">
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="row">
                    <div class="col">
                      <p>
                        미국 국립표준기술연구소(NIST, National Institute of Standards and Technology)에서는 양자 컴퓨터의 위협에 맞서서
                        양자내성암호 표준화 공모전을 진행하고 있습니다.
                      </p>
                    </div>
                    <div class="col">
                      <img class="d-block w-100" src="/images/pqc/3slide2.png" alt="First slide">
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="row">
                    <div class="col">
                      <p>
                        국내에서도 양자내성암호 표준화에 대해서 kpqc 공모전을 진행하고 있으며
                        LG유플러스나 여러 기업에서 양자내성암호 기술을 적용해보는 사례도 있습니다.
                      </p>
                    </div>
                    <div class="col">
                      <img class="d-block w-100" src="/images/pqc/3slide3.png" alt="First slide">
                    </div>
                  </div>
                </div>

                <!-- 왼쪽 오른쪽 화살표 버튼 -->
                <a class="carousel-control-prev" href="#demo3" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#demo3" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>

                <!-- 인디케이터 -->
                <ul class="carousel-indicators">
                  <li data-target="#demo3" data-slide-to="0" class="active"></li>
                  <li data-target="#demo3" data-slide-to="1"></li>
                  <li data-target="#demo3" data-slide-to="2"></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </aside>

    </main>

    <br />
    <%-include('../partials/footer.ejs')%>

</body>

</html>