<!DOCTYPE html>
<html>
    <head>
        <body>
            선형대수학(Linear Algebra)에 대한 내용을 알고 있다면 이해하는데 편하다
            혹시 "벡터" 라는 단어를 들어보신적 있나요?? 
            Lattice란 번역하자면 "격자"입니다. 2차원 평면 좌표계를 예시로 들어보겠습니다"
            
        </body>
    </head>
</html>
