<%# details 과 summary 그리고 css까지 적용%>
<style>
details { margin:5px 0 10px; }
details > summary { background:#444; color:#fff; padding:10px; outline:0; border-radius:5px; cursor:pointer; transition:background 0.5s; text-align:left; box-shadow: 1px 1px 2px gray;}
details > summary::-webkit-details-marker { background:#444; color:#fff; background-size:10px; transform:rotate3d(0, 0, 1, 90deg); transition:transform 0.25s;}
details[open] > summary::-webkit-details-marker { transform:rotate3d(0, 0, 1, 180deg);}
details[open] > summary { background:#444;}
details[open] > summary ~ * { animation:reveal 0.5s;}
.tpt { background:#444; color:#fff; margin:5px 0 10px; padding:5px 10px; line-height:25px; border-radius:5px; box-shadow: 1px 1px 2px gray;}

@keyframes reveal {
    from { opacity:0; transform:translate3d(0, -30px, 0); }
    to { opacity:1; transform:translate3d(0, 0, 0); }
}
</style>

<!DOCTYPE html>
<html>
  <head>
    <%-include('../partials/head.ejs')%>
    <%# Using highlight.js %>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<%# Sage style %>
<link rel="stylesheet" type="text/css" href="https://sagecell.sagemath.org/static/sagecell_embed.css">
<style type="text/css">
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        /*border-top: #FFFFFF;
        border-right: #FFFFFF;
        border-left: #FFFFFF;*/
        border-bottom: 3px solid #3333CC;
        color: #3333CC;
  }
  .nav-tabs .nav-link {
    color: #333333;
    font-weight: bold;
  }
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  footer {
    width: 100%;
    height: 56px;
    position: absolute; 
    bottom: 0;
    left: 0;
  }
</style>
  </head>
  <body>
    <%-include('../partials/nav.ejs')%>
 <style type="text/css">
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
              /*border-top: #FFFFFF;
              border-right: #FFFFFF;
              border-left: #FFFFFF;*/
              border-bottom: 3px solid #3333CC;
              color: #3333CC;
        }
        .nav-tabs .nav-link {
          color: #333333;
          font-weight: bold;
        }
        html, body {
          margin: 0;
          padding: 0;
          height: 100%;
        }
        footer {
        width: 100%;
        height: 56px;
        position: relative; 
        /*transform : translateY(-100%); -> footer를 footer height 만큼 올려준다*/ 
      }
      </style>
      <br><br><br>
      <p>RSA-512</p>
      
    <details>
        <summary>sage code</summary>
    <pre><code class="language-python">
bound = 2<<512

#두개의 서로다른 소수 생성
while True:
    p = random_prime(bound-1, lbound = bound >> 1)
    q = random_prime(bound-1, lbound = bound >> 1)
    if p != q:
        break

N = p*q
phi = (p-1)*(q-1)

print ("p = {}".format(p))
print ("q = {}".format(q))
print ("N = {}".format(N))
print ("phi = {}".format(phi))

n = "내용을 입력해보세요"
print("평문 = ",n)
m = int.from_bytes(n.encode('utf-8'), "big")

while True:
    e = 65537 #e = ZZ.random_element(2,phi)
    if 1 == gcd(e,phi):
        d = (e.xgcd(phi)[1])%phi
        if e != d:
            break
            
print ("공개키(e) = {}".format(e))
print ("비밀키(d) = {}".format(d))


c = (m^e)%N
m1 = pow(c,d,N)

m1 = bytes.fromhex(hex(m1)[2:]).decode('utf-8')

print("암호문 = ",hex(c))
print("복호문 = {}".format(m1))
print(n == m1)
</code></pre></details>

<!-- Footer --> 
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      Copyright2022.BestOftheBest11thPQCY All rights reserved.
    </div>
  </footer>
  
  <script>
    function quiz() {
      location.href="/quiz";
    }
    function goPqc() {
      location.href="/goPqc";
    }
  </script>
  
  </body>
  </html>