<!DOCTYPE html>
<html>

<head>
  <%-include('../partials/head.ejs')%>
  <script src=""></script>
</head>

<body>
  <form action="http://localhost:3000/quiz" method="get">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="quiz">
    <div class="modal-content">
      <div class="modal-header" id="question">
        <h5 class="modal-title">
          문제1. 1 + 1 = ?
        </h5>
      </div>
      <div class="modal-body">
        <input type='radio' id="a" name="answer" class="answer" value="1" checked/>
        <label id="a_text" for="a" >
          1
        </label>
        <br />
        <input type='radio' id="b" name="answer" class="answer" value="2" />
        <label id="b_text" for="b">
          2
        </label>
        <br />
        <input type='radio' id="c" name="answer" class="answer" value="3" />
        <label id="c_text" for="c">
          3
        </label>
        <br />
        <input type='radio' id="d" name="answer" class="answer" value="4" />
        <label id="d_text" for="d">
          4
        </label>
        <br /><br />
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-light">Close</button>
        <button type="submit" id="next" class="btn btn-info">NEXT</button>
      </div>
    </div>
  </div>
</form>
  <script>

    $('#close').on('click', () => {
      location.href = "eduBasic";
    });

    // let answer = undefined;
    // $('#next').on('click', );
    // $('#next').on('click', async () => {const bodyParser = require('body-parser');
    //   answer = $('input[name=answer]:checked').val();
    //   if (answer === undefined) {
    //     alert("정답을 골라주세요.");
    //     return;
    //   }
    //   try {
    //       let geturl = `http://localhost:3000/quiz?answer=${answer}`;
    //       const result = await axios.get(geturl);
    //     } catch (error) {
    //       console.error(error);
    //     }
    // })();

  </script>
  <%-include('../partials/footer.ejs')%>
</body>

</html>