<!DOCTYPE html>
<html>
    <head>
        <%-include('../partials/head.ejs')%>
      </head>
<body>

    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="quiz">
        <div class="modal-content">
          <div class="modal-header" id="question">
            <h5 class="modal-title">예시) Q. ARP Spoofing을 막는 방법으로 틀린 것은?</h5>
          </div>
          <div class="modal-body">
            <input type='radio' id="a" name="answer" class="answer" />
            <label id="a_text" for="a">보기 예시 1</label>
            <br/>
            <input type='radio' id="b" name="answer" class="answer" />
            <label id="b_text" for="b">보기 예시 2</label>
            <br/>
            <input type='radio' id="c" name="answer" class="answer" />
            <label id="c_text" for="c">보기 예시 3</label>
            <br/>
            <input type='radio' id="d" name="answer" class="answer" />
            <label id="d_text" for="d">보기 예시 4</label>
            <br/><br/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" onclick="close();">Close</button>
            <button type="button" id="next" class="btn btn-info">NEXT</button>
          </div>
        </div>
    </div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      Copyright2022.BestOftheBest11thPQCY All rights reserved.
    </div>
</footer>

<script>
    function close() {
        location.href="/eduBasic";
    }
    function nextPage() {
      // function
    }
</script>
<!-- <script src="quizList.js"></script> -->
</body>
</html>
