<!DOCTYPE html>
<html>
  <head>
    <%-include('../partials/head.ejs')%>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

      /*
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
      body {
        font-family: 'Noto Sans KR', sans-serif;
      }
      */
      #wrapper {
        font-family: 'Jua', sans-serif;
        height: auto;
        min-height: 100%;
        padding-bottom: 100px;
      }
      .carousel-inner {
        width: 1000px;
        height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .carousel-item {
        width: auto;
        height: 100%;
      }
      .d-block {
        display: block;
        width: auto;
        height: 100%;
      }
      .carousel-control-next, .carousel-control-prev{
        filter: invert(100%);
      }
    </style>
  </head>
  <body>
    <%-include('../partials/nav.ejs')%>

    <div id="wrapper"> <!-- footer 설정용 -->
    <br/><br/>

    <!-- carouse -->
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/images/main-ex2.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>양자내성암호 교육 페이지입니다.</h5>
            <p>Post Quantum Cryptography (PQC)</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/images/main-ex3.jpg" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>About Us</h5>
            <p>Best of the Best 11th 양자키순</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/images/main-ex1.jpg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>후원</h5>
            <p>한국정보기술연구원(KITRI)</p>
          </div>
        </div>
      </div>
      
      <!-- 왼쪽 오른쪽 화살표 버튼 -->
      <a class="carousel-control-prev" href="#carouselIndicators" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#carouselIndicators" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>

      <!-- 인디케이터 -->
      <ul class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
      </ul>
    </div>

    <br/><br/><br/><br/>

    <!-- components. pqcy project -->
    <section id="pqcy">
      <div class="container" data-aos="fade-up">
        <header class="section-header" style="text-align: center;">
          <h2>PQCY-project는?</h2>
          <p style="font-size: 20px;">
            2022 Best of the Best 11기에서 진행한 프로젝트 주관<br/>
            양자내성암호 교육 페이지입니다.
          </p>
        </header>

        <!--
        <p style="text-align: center;">
          가나다라마바사아자차카타파하
        </p>
        -->

        <br/>

        <div class="col-lg-10 content order-lg-1 order-2">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="/definition">양자내성암호란?</a></h4>
            <p class="description" style="font-size: 18px;">
              기존의 공개키 암호를 소개하고, 앞으로 도래할 양자 컴퓨터 시대에 맞선 양자내성암호를 공부합니다.
            </p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="/algorithm">양자내성암호 알고리즘</a></h4>
            <p class="description" style="font-size: 18px;">
              기반문제로 나누어 양자내성암호 알고리즘을 설명하고 NIST ROUND 선정 양자내성암호를 소개합니다.
            </p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="/guide">양자내성암호 탑재 가이드</a></h4>
            <p class="description" style="font-size: 18px;">
              TLS 프로토콜에 양자내성암호를 탑재하는 가이드를 제공합니다.
            </p>
          </div>

        </div>
      </div>
    </section>

    <br/><br/><br/><br/><br/><br/><br/>


    <!-- components. about us -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <header class="section-header" style="text-align: center;">
          <h2>About Us</h2>
          <p style="font-size: 20px;">
            Best of the Best(BOB) 11기 <span>양자키순</span> 팀입니다.
          </p>
        </header>


      </div>
    </section>


    <br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/><br/><br/>

    </div>

    <%-include('../partials/footer.ejs')%>
  </body>
</html>
