<!DOCTYPE html>
<html>
  <head>
    <%-include('../partials/head.ejs')%>
    <style>
      content{
        position: absolute; top:0; left: 0;
        width: 100%;
        height: 100%;
      }
      .card-img-top {
        height: 15rem;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <%-include('../partials/nav.ejs')%>

    <div class="text-center mb-3">

      <div class="Bootstrap" margin: auto;>
        <br/><br/><br/><br/>
        <!-- Need to adjust size -->
        <!--
        <button type="button" class="btn btn-outline-danger" onclick="moveBasic(); return false;">교육 페이지(초급)</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-outline-warning" onclick="moveMid(); return false;">교육 페이지(중급)</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-outline-success" onclick="moveAdv(); return false;">교육 페이지(고급)</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-outline-info" onclick="moveAsy(); return false;">공개키 탑재 가이드</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-outline-dark" onclick="moveCom(); return false;">커뮤니티</button>
        -->
        <!-- <button type="button" class="btn btn-outline-primary">Junior</button>
        <button type="button" class="btn btn-outline-secondary">Senior</button> -->
        <button type="button" class="btn btn-outline-info" onclick="moveBasic(); return false;">교육 페이지(초급)</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-info" onclick="moveMid(); return false;">교육 페이지(중급)</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-info" onclick="moveAdv(); return false;">교육 페이지(고급)</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-info" onclick="moveAsy(); return false;">공개키 탑재 가이드</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-info" onclick="moveCom(); return false;">커뮤니티</button>
      </div>

      <br/>

      <div class="card bg-light">
        <div class="card-body">
          <b>양자내성암호 이용 활성화를 위한 과기정통부 산하 KISA, KITRI, NSHC에서 후원하는 교육 사이트입니다.</b><br/>
        <!-- </div> -->
        <br/>
        <img src="/images/kitri-logo.jpg" width="400" height="70">
        <img src="/images/nshc-logo.png" width="200" height="40">

        <br/><br/><br/>
  
        <div class="card justify-content-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">EVENT</h5>
            <h6 class="card-subtitle mb-2 text-muted">퀴즈를 풀면 스타벅스 기프티콘이?</h6>
            <img src="/images/starbucks.jpg" width="80" height="80"><br/>
            <!-- <p class="card-text">Content</p> -->
            <!-- Quiz link add -->
            <a href="/quiz" class="card-link">Quiz 바로가기</a>
            <!-- <a href="#" class="card-link">Another link</a> -->
          </div>
        </div>
        <br/>
      </div>
      </div>
    </div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mb-15">
          <br/>
          <p>
            08504 서울특별시 금천구 서부샛길 606 가산 대성디폴리스 A동 27층
          </p>
        </div>
        <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mb-md-0 mb-15">
          <b>Contact</b><br/>
          <b>TEL.</b> 02-869-8301(#9821)<br/>
          <b>MAIL.</b> imkeysoon@gmail.com
        </div>
        <img src="/images/bob_logo.png" width="50" height="50" alt="">
      </div>
    </div>
  </section>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    Copyright2022.BestOftheBest11thPQCY All rights reserved.
  </div>
</footer>

  <script type="text/javascript">
    function moveBasic() {
      location.href="/eduBasic";
    }
    function moveMid() {
      location.href="/eduMid";
    }
    function moveAdv() {
      location.href="/eduAdv";
    }
    function moveAsy() {
      location.href="/asyGuide";
    }
    function moveCom() {
      location.href="/community";
    }
  </script>
  </body>
</html>
