<!DOCTYPE html>
<html>
  <head>
    <%-include('../partials/head.ejs')%>
  </head>
  <body>
    <%-include('../partials/nav.ejs')%>

    <div class="container mb-3">

      <div class="Bootstrap">
        <button type="button" class="btn btn-outline-danger">교육 페이지(초급)</button> &nbsp;
        <button type="button" class="btn btn-outline-warning">교육 페이지(중급)</button> &nbsp;
        <button type="button" class="btn btn-outline-success">교육 페이지(고급)</button> &nbsp;
        <button type="button" class="btn btn-outline-info">공개키 탑재 가이드</button> &nbsp;
        <button type="button" class="btn btn-outline-dark">커뮤니티</button> &nbsp;
        <!-- <button type="button" class="btn btn-outline-primary">Junior</button>
        <button type="button" class="btn btn-outline-secondary">Senior</button> -->
      </div>
    </div>
  </body>
</html>
